@charset "UTF-8";
.custom_radiobox { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; line-height: 1; font-size: 14px; color: #001b32; }

.custom_radiobox input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.custom_radiobox .checkmark { position: absolute; top: 1px; left: 0; height: 18px; width: 18px; border: 1px solid #d5d5d5; }

.custom_radiobox .checkmark { border-radius: 50%; background: transparent; }

.custom_radiobox input:checked + .checkmark:after { display: block; width: 10px; height: 10px; position: absolute; left: 4px; top: 4px; background: #fb9e08; border-radius: 50%; content: ''; }

.custom_checkbox { display: inline-block; position: relative; padding-left: 43px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.custom_checkbox input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.custom_checkbox .checkmark { position: absolute; top: 1px; left: 0; height: 28px; width: 28px; border: 0; }

.custom_checkbox .checkmark { background: url("../images/custom_input1_off.svg") no-repeat center/27px; }

.custom_checkbox input:checked + .checkmark { background: url("../images/custom_input1_on.svg") no-repeat center/22px; }

/*--------------------------------------------------------------------------------
 master 메인
---------------------------------------------------------------------------------*/
.wrap_master_main { background: url("../images/bg_main_master.png") no-repeat left top; }

.cont_master_main .logo { width: 332px; height: 99px; margin: 0 auto; padding-top: 200px; background: url("../images/logo_master_main.png") no-repeat left bottom; }

.login_box { width: 585px; height: 413px; margin: 64px auto 0; background: url("../images/login_master_box.png") no-repeat left bottom; }

.wrap_login_area { padding: 119px 0 0 56px; }

.wrap_login_area .box_input, .wrap_login_area .btn_login { float: left; }

.cont_master_main .wrap_login_area .box_input { /* placeholder 스타일 지정 */ /* IE */ /* Firefox */ }

.cont_master_main .wrap_login_area .box_input input { display: block; width: 300px; height: 53px; padding-left: 21px; padding-right: 21px; font-size: 20px; color: #4a77d1; letter-spacing: -1.5px; background: transparent; }

.cont_master_main .wrap_login_area .box_input input::-webkit-input-placeholder { color: #4a77d1; opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }

.cont_master_main .wrap_login_area .box_input input:-ms-input-placeholder { color: #4a77d1; opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }

.cont_master_main .wrap_login_area .box_input input::-ms-input-placeholder { color: #4a77d1; opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }

.cont_master_main .wrap_login_area .box_input input::placeholder { color: #4a77d1; opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }

.cont_master_main .wrap_login_area .box_input input::-webkit-input-placeholder { color: #4a77d1; }

.cont_master_main .wrap_login_area .box_input input:-ms-input-placeholder { color: #4a77d1; }

.cont_master_main .wrap_login_area .box_input input:-mos-input-placeholder { color: #4a77d1; }

.cont_master_main .wrap_login_area .box_input .login_id { margin-bottom: 10px; }

.cont_master_main .btn_login { width: 140px; height: 121px; margin-left: 21px; cursor: pointer; background: url("../images/btn_loginmaster_main.png") no-repeat left top; }

.cont_master_main .login_info { padding: 79px 58px 0 0; text-align: right; font-size: 15px; color: #a3bdef; letter-spacing: -0.1px; }

.policy.main_master { margin-top: 104px; }

.policy.main_master a { color: #001b32; }

#footer.main_master { width: 100%; max-width: 1722px; margin-top: 15px; color: #001b32; border-top: 1px solid #001b32; }

#footer.main_master .company_info { padding-left: 0; }

#footer.main_master .logo { padding-right: 0; }

#footer.main_master .copyright { color: #001b32; }

.layer_confirm_certi { position: relative; width: 640px; height: 140px; padding: 0 22px; border-radius: 10px; -webkit-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; }

.layer_confirm_certi .pop_head { padding: 0; }

.layer_confirm_certi .btn_close_pop { width: 21px; height: 21px; background: url(../images/btn_x.png) no-repeat left top; background-size: 21px 21px; position: absolute; right: 20px; top: 13px; }

.layer_confirm_certi .wrap_certi_cfm { padding-top: 56px; }

.layer_confirm_certi .box_input { float: left; width: 439px; padding-left: 20px; border-bottom: 1px solid #1684e5; letter-spacing: -1px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.layer_confirm_certi .box_input input { width: 372px; height: 50px; font-size: 16px; letter-spacing: -0.5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.layer_confirm_certi .box_input #time { color: #ff0000; font-size: 20px; }

.layer_confirm_certi .btn_certi_cfm { float: left; width: 137px; height: 50px; margin-left: 20px; color: #fff; font-size: 20px; text-align: center; line-height: 50px; background: #012875; background: url(../images/btn_certi_cfm.png) no-repeat left top; cursor: pointer; }

.tbl_calender { table-layout: fixed; }

.tbl_calender tr:nth-child(odd) td { background: #efefef; }

.tbl_calender tr:nth-child(even) td { background: #e8ebef; }

.tbl_calender th { height: 60px; line-height: 60px; font-weight: 500; font-size: 15px; border-bottom: 2px solid #fff; background: #0f4c82; color: #fff; }

.tbl_calender td { padding: 13px 13px 11px; height: 100px; border-bottom: 2px solid #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.tbl_calender td:nth-child(even) { border-left: 2px solid #fff; border-right: 2px solid #fff; }

.tbl_calender tr:last-child td { border-bottom: 0; }

.tbl_calender .day_view { font-size: 16px; color: #000; }

.tbl_calender .sunday_td .day_view { color: #ce0000; }

.tbl_calender .other_month .day_view { color: #757575; }

.tbl_calender .info_dash { padding-top: 16px; padding-left: 40px; font-size: 13px; }

.tbl_calender .approval { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #ce0000; }

.tbl_calender .cancel { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 16px; color: #6a6a6a; }

.tbl_calender .won_val { margin-left: auto; text-align: right; }

.system_error { margin-top: 79px; padding-top: 59px; padding-bottom: 189px; }

.system_error .inner_wrap { width: 730px; margin: 0 auto; }

.system_error .icon_syserror { display: block; margin: 0 auto 34px; }

.system_error .inform_tit { font-size: 48px; text-align: center; color: #0f4c82; }

.system_error .inform_txt { padding-top: 25px; padding-bottom: 58px; font-size: 30px; color: #0f4c82; }

.system_error .error_info li { position: relative; padding-left: 20px; margin-bottom: 28px; font-size: 0; color: #242424; text-align: left; }

.system_error .error_info li:before { content: ''; display: block; width: 5px; height: 5px; position: absolute; left: 0; top: 8px; border-radius: 50%; background: #3b00c0; }

.system_error .error_info .note_tit { display: inline-block; padding-right: 5px; font-size: 24px; }

.system_error .error_info .error_code { display: inline-block; font-size: 24px; }

/*--------------------------------------------------------------------------------
	# 신용카드 - 결제
---------------------------------------------------------------------------------*/
.pop_head { overflow: hidden; margin: 0 20px; padding: 20px 0; text-align: center; }

.pop_head .logo { position: absolute; left: 20px; top: 18px; }

.pop_head .head_txt { display: inline; color: #0f4c82; font-size: 20px; font-weight: 500; }

.pop_head .btn_close_pop { width: 21px; height: 21px; background: url("../images/btn_x.png") no-repeat left top; background-size: 21px 21px; position: absolute; right: 20px; top: 18px; }

.pay_credit_pop { position: relative; width: 460px; height: 690px; border-radius: 10px; -webkit-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); background: #fff; }

.pay_credit_pop:after { content: ''; width: 60px; height: 60px; background: url("../images/bg_triangle.png") no-repeat left top; background-size: 60px 60px; display: block; position: absolute; right: 0; bottom: 0; }

.pay_credit_pop.pop_sales_slip { width: 520px; height: 840px; }

.pay_credit_pop .pop_head { border-bottom: 1px solid #1684e5; }

.pay_credit_pop .cscenter { position: absolute; font-size: 15px; text-align: center; font-weight: 100; color: #747474; left: 0; bottom: 9px; width: 100%; }

.pay_credit_pop .custom_checkbox { position: relative; display: block; font-size: 15px; font-weight: 300; line-height: 28px; }

.pay_credit_pop .btn_allterm { position: absolute; right: 0; top: 24px; display: block; width: 70px; height: 22px; margin: 0 auto 0; color: #fff; font-size: 13px; text-align: center; line-height: 22px; background: #ddd; color: #242424; border-radius: 4px; z-index: 1; }

.pay_credit_pop .btn_allterm:hover { cursor: pointer; text-decoration: underline; }

.pop_cont { padding: 0 20px; }

.pop_bottom .wrap_pop_btn { overflow: hidden; }

.pop_bottom .wrap_pop_btn .btn_cnxl, .pop_bottom .wrap_pop_btn .btn_receipt { float: left; display: block; width: 150px; height: 40px; margin: 0 auto 0; color: #fff; font-size: 18px; text-align: center; line-height: 40px; background: #012875; background: url(../images/bg_btn_gray.svg) no-repeat left top; cursor: pointer; }

.pop_bottom .wrap_pop_btn .btn_next { float: right; display: block; width: 150px; height: 40px; margin: 0 auto 0; color: #fff; font-size: 18px; text-align: center; line-height: 40px; background: #012875; background: url(../images/bg_btn_blue.svg) no-repeat left top; cursor: pointer; }

.pop_yakwan .wrap_allchk { padding: 20px 0; }

.pop_yakwan .wrap_allchk .custom_checkbox { padding-left: 35px; }

.pop_yakwan .wrap_singlechk { border-top: 1px solid #1684e5; }

.pop_yakwan .wrap_singlechk .box_term { position: relative; padding: 20px 0 19px; border-bottom: 1px solid #ddd; }

.pop_yakwan .wrap_singlechk .custom_checkbox .checkmark { margin-left: 11px; }

.pop_yakwan .pop_bottom { padding-top: 40px; }

.pop_yakwan .pop_bottom .wrap_pop_btn { padding: 10px 50px 0; }

.pay_info_chk_tbl { font-size: 15px; background: #f6f6f6; }

.pay_info_chk_tbl th { padding-left: 22px; font-weight: 500; text-align: left; }

.pay_info_chk_tbl td { padding-left: 18px; padding-right: 20px; font-weight: 300; }

.pay_info_chk_tbl .product_name th, .pay_info_chk_tbl .product_name td { padding-top: 25px; padding-bottom: 20px; }

.pay_info_chk_tbl .payment_price th, .pay_info_chk_tbl .payment_price td { padding-bottom: 20px; }

.pay_info_chk_tbl .payment_date th, .pay_info_chk_tbl .payment_date td { padding-bottom: 24px; }

.pop_payment_insert .pay_info_chk_tbl { border: 1px solid #ddd; border-top: 0; }

.pop_payment_insert .box_tit { position: absolute; left: 0; top: 0; font-size: 15px; letter-spacing: -0.9px; }

.pop_payment_insert .pop_cont_middle .pop_cont_tit { padding-top: 28px; padding-bottom: 20px; font-size: 18px; font-weight: 500; color: #0f4c82; }

.pop_payment_insert .pop_cont_middle .cmn_card_list, .pop_payment_insert .pop_cont_middle .instmt_range_list { background: #fff; font-size: 13px; }

.pop_payment_insert .pop_cont_middle .cmn_card_list li, .pop_payment_insert .pop_cont_middle .instmt_range_list li { padding: 5px; cursor: pointer; }

.pop_payment_insert .pop_cont_middle .cmn_card_list li:hover, .pop_payment_insert .pop_cont_middle .instmt_range_list li:hover { background: #ddd; }

.pop_payment_insert .pop_cont_middle .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; }

.pop_payment_insert .pop_cont_middle .select_toggle_box li.on { background: #1684e5; }

.pop_payment_insert .pop_cont_middle .card_company_group .most_card_list { overflow: hidden; margin-bottom: 29px; }

.pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li { float: left; display: block; width: 80px; height: 40px; margin: auto auto 0; color: #fff; font-size: 15px; text-align: center; line-height: 40px; background: #fff; margin-right: 33px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #747474; color: #747474; }

.pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li:hover { text-decoration: underline; cursor: pointer; }

.pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li.active { border-color: #1684e5; background: #1684e5; color: #fff; }

.pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li:nth-child(4n) { margin-right: 0; }

.pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li:nth-child(1), .pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li:nth-child(2), .pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li:nth-child(3), .pop_payment_insert .pop_cont_middle .card_company_group .most_card_list li:nth-child(4) { margin-bottom: 10px; }

.pop_payment_insert .pop_cont_middle .card_company_group .common_card_list { position: relative; }

.pop_payment_insert .pop_cont_middle .card_company_group .common_card_list .cmn_card_area { position: relative; width: 331px; margin-left: auto; }

.pop_payment_insert .pop_cont_middle .card_company_group .common_card_list .cmn_card_area:after { content: ''; display: block; position: absolute; right: 0; bottom: 9px; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.pop_payment_insert .pop_cont_middle .card_company_group .common_card_list .cmn_card_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_payment_insert .pop_cont_middle .card_company_group .common_card_list .cmn_card_area .on + .select_toggle_box { display: block; }

.pop_payment_insert .pop_cont_middle .card_company_group .common_card_list .cmn_card_area li { padding: 5px; cursor: pointer; }

.pop_payment_insert .pop_cont_middle .installment_range { position: relative; margin-top: 19px; }

.pop_payment_insert .pop_cont_middle .installment_range .instmt_range_area { position: relative; width: 331px; margin-left: auto; }

.pop_payment_insert .pop_cont_middle .installment_range .instmt_range_area:after { content: ''; display: block; position: absolute; right: 0; bottom: 9px; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.pop_payment_insert .pop_cont_middle .installment_range .instmt_range_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_payment_insert .pop_cont_middle .installment_range .instmt_range_area .on + .select_toggle_box { display: block; }

.pop_payment_insert .pop_cont_middle .installment_range .instmt_range_area li { padding: 5px; cursor: pointer; }

.pop_payment_insert .selected_box { padding: 0 0 9px 2px; border-bottom: 1px solid #ddd; }

.pop_payment_insert .selected_box .cmpn_name, .pop_payment_insert .selected_box .paymt_plan { font-size: 15px; }

.pop_payment_insert .email_area { margin-top: 24px; }

.pop_payment_insert .email_area .custom_checkbox { padding-left: 34px; }

.pop_payment_insert .email_inp_wrap { position: relative; }

.pop_payment_insert .email_inp_wrap .box_tit { letter-spacing: normal; }

.pop_payment_insert .email_inp_wrap .inp_box { width: 331px; padding: 0 2px 7px; margin-top: 17px; margin-left: auto; border-bottom: 1px solid #ddd; }

.pop_payment_insert .email_inp_wrap .inp_box input { width: 100%; font-size: 13px; }

.pop_payment_insert .pop_bottom { padding: 0 20px; }

.pop_payment_insert .pop_bottom .wrap_pop_btn { margin-top: 41px; padding: 0 50px; }

.pop_pay_on .pay_info_chk_tbl { border: 1px solid #ddd; }

.pop_pay_on .card_shape { width: 385px; height: 255px; padding-top: 35px; margin: 49px auto 0; border-radius: 14px; -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); background: #fff url(/images/motion_ing.gif) no-repeat top 120px center; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_pay_on .card_shape:before { content: ''; display: block; width: 385px; height: 42px; background: #ddd; margin-bottom: 18px; }

.pop_pay_on .card_shape .note_pay_on { font-size: 18px; color: #0f4c82; font-weight: 500; text-align: center; }

.pop_pay_on .nepay_safe_note { padding-top: 47px; line-height: 1.67; font-size: 18px; text-align: center; }

.pop_pay_result_success .pop_result_tit { padding: 18px 0 17px; font-size: 18px; text-align: center; }

.pop_pay_result_success .pop_cont_middle { margin-top: 28px; padding: 0 25px; border: 1px solid #ddd; background: #f6f6f6; }

.pop_pay_result_success .pop_cont_middle .card_result_info_tbl { width: 100%; font-size: 15px; }

.pop_pay_result_success .pop_cont_middle th { width: 68px; text-align: left; }

.pop_pay_result_success .pop_cont_middle th, .pop_pay_result_success .pop_cont_middle td { padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #ddd; }

.pop_pay_result_success .pop_cont_middle .approval_number th, .pop_pay_result_success .pop_cont_middle .approval_number td { border-bottom: 0; }

.pop_pay_result_success .pop_cont_middle .cont_middle_th { font-weight: 500; }

.pop_pay_result_success .pop_cont_middle .order_number th { padding-top: 23px; }

.pop_pay_result_success .pop_cont_middle .order_number td { padding-top: 23px; }

.pop_pay_result_success .pop_cont_middle .paymt_date .vtc_bar { margin: 0 10px; color: #1684e5; }

.pop_pay_result_success .pop_bottom { padding-top: 33px; }

.pop_pay_result_success .pop_bottom .wrap_pop_btn { padding: 0 70px; }

.pop_pay_result_fail .pop_cont_top { margin-bottom: 30px; }

.pop_pay_result_fail .pop_cont_top .pop_result_tit { padding: 18px 0; font-size: 18px; color: #ff4053; text-align: center; }

.pop_pay_result_fail .pop_cont_middle { background: #ffe2e2; }

.pop_pay_result_fail .pop_cont_middle .card_result_info_tbl { width: 100%; font-size: 15px; }

.pop_pay_result_fail .pop_cont_middle .card_result_info_tbl th { width: 90px; padding: 0 0 20px 25px; text-align: left; font-weight: 500; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_pay_result_fail .pop_cont_middle .card_result_info_tbl td { padding: 0 0 20px 47px; }

.pop_pay_result_fail .pop_cont_middle .card_result_info_tbl .order_number th, .pop_pay_result_fail .pop_cont_middle .card_result_info_tbl .order_number td { padding-top: 23px; }

.pop_pay_result_fail .pop_cont_middle .card_result_info_tbl .fail_code th, .pop_pay_result_fail .pop_cont_middle .card_result_info_tbl .fail_code td { padding-bottom: 22px; }

.pop_pay_result_fail .pop_bottom { padding-top: 25px; }

.pop_pay_result_fail .pop_bottom .fail_notice { font-size: 18px; line-height: 1.67; text-align: center; }

.pop_pay_result_fail .pop_bottom .fail_notice .email_txt { text-decoration: underline; color: #1684e5; cursor: pointer; }

.pop_pay_result_fail .pop_bottom .wrap_pop_btn { padding-top: 42px; }

.pop_pay_result_fail .pop_bottom .wrap_pop_btn .btn_next { float: none; }

.pay_info_chk_tbl_wrap { border: 1px solid #ddd; }

.pay_info_chk_tbl_wrap .pay_info_chk_tbl { width: 100%; }

.pay_info_chk_tbl_wrap .pay_info_chk_tbl .affiliate_name th, .pay_info_chk_tbl_wrap .pay_info_chk_tbl .affiliate_name td { padding-bottom: 25px; }

.pay_info_chk_tbl_wrap .pay_info_chk_tbl th { padding-left: 26px; }

.pay_info_chk_tbl_wrap .pay_info_chk_tbl td { padding-left: 26px; }

.pop_sales_slip .pop_head { margin: 0 10px; padding-bottom: 17px; border-bottom: 0; }

.pop_sales_slip .pop_head .logo { display: none; }

.pop_sales_slip .pop_head .btn_close_pop { right: 10px; top: 10px; }

.pop_sales_slip .pop_cont { margin: 0 25px; padding: 0; border-top: 2px solid #1684e5; }

.pop_sales_slip .card_receipt_tbl { width: 100%; table-layout: fixed; }

.pop_sales_slip .card_receipt_tbl .cont_top_th { padding: 5px 0; background: #cee8ff; color: #0f4c82; font-weight: 500; font-size: 10px; border-bottom: 1px solid #fff; }

.pop_sales_slip .card_receipt_tbl .cont_top_th:nth-child(2) { border-right: 1px solid #fff; border-left: 1px solid #fff; }

.pop_sales_slip .card_receipt_tbl td { padding: 4px 0 6px; background: #f3f3f3; border-bottom: 1px solid #fff; text-align: center; }

.pop_sales_slip .card_receipt_tbl td:nth-child(2) { border-right: 1px solid #fff; border-left: 1px solid #fff; }

.pop_sales_slip .card_receipt_tbl .aprv_number { color: #ff0000; }

.pop_sales_slip .card_receipt_tbl .vtc_bar { margin: 0 7px; color: #1684e5; }

.pop_sales_slip .saler_info_group .pop_cont_tit { padding: 19px 0 8px; }

.pop_sales_slip .affiliate_info_group .pop_cont_tit { padding: 16px 0 7px; }

.pop_sales_slip .pop_cont_tit { border-bottom: 2px solid #1684e5; color: #0f4c82; font-size: 13px; font-weight: 500; text-align: center; }

.pop_sales_slip .receipt_total_tbl { width: 100%; }

.pop_sales_slip .receipt_total_tbl .cont_btm_th { width: 156px; padding: 4px 0 4px 15px; background: #cee8ff; border-bottom: 1px solid #fff; border-right: 1px solid #fff; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 10px; font-weight: 500; color: #0f4c82; text-align: left; }

.pop_sales_slip .receipt_total_tbl td { padding: 5px 18px 5px 0; background: #f3f3f3; border-bottom: 1px solid #fff; font-weight: 500; font-size: 10px; text-align: right; }

.pop_sales_slip .receipt_total_tbl .total_price { font-size: 11px; color: #ff0000; }

.pop_sales_slip .pop_cont_bottom .pop_cont_tit { padding: 16px 0 7px; }

.pop_sales_slip .pop_bottom { padding-top: 10px; }

.pop_sales_slip .pop_bottom .raw_note { padding: 0 37px; font-size: 10px; color: #757575; }

.pop_sales_slip .pop_bottom .wrap_pop_btn { padding-top: 30px; }

.pop_sales_slip .pop_bottom .wrap_pop_btn .btn_next { float: none; height: 30px; line-height: 30px; background-size: 150px 30px; font-size: 15px; }

/*--------------------------------------------------------------------------------
	# ADMIN 가맹점 팝업 - cp, master
---------------------------------------------------------------------------------*/
.cp_admin_pop { position: relative; width: 920px; border-radius: 10px; -webkit-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); background: #fff; }

.cp_admin_pop:after { content: ''; width: 100px; height: 100px; background: url("../images/bg_triangle.png") no-repeat left top; background-size: 100px 100px; display: block; position: absolute; right: 0; bottom: 0; }

.cp_admin_pop .pop_head .btn_close_pop { right: 10px; top: 10px; }

.cp_admin_pop .pop_cont_top { padding: 0 59px; }

.cp_admin_pop .pop_cont_top td { padding: 15px 0; font-size: 15px; color: #757575; }

.cp_admin_pop.pop_covenant_info .pop_head { padding-top: 19px; padding-bottom: 23px; }

.cp_admin_pop.pop_covenant_info .pop_cont { padding: 0 60px 35px; }

.cp_admin_pop.pop_covenant_info .covenant_tbl { width: 100%; }

.cp_admin_pop.pop_covenant_info .covenant_tbl .cont_th { width: 143px; padding: 15px 18px 15px 0; font-size: 15px; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; }

.cp_admin_pop.pop_covenant_info .covenant_tbl tr td:first-of-type { width: 265px; }

.cp_admin_pop.pop_covenant_info .covenant_tbl td { font-size: 15px; color: #757575; }

.cp_admin_pop.pop_covenant_info .covenant_tbl .fee_pct { padding-top: 15px; }

.cp_admin_pop.pop_covenant_info .cause_info .aflte_info { padding-bottom: 8px; }

.cp_admin_pop.pop_covenant_info .covenant_tbl .effective_date, .cp_admin_pop.pop_covenant_info .covenant_tbl .chg_date, .cp_admin_pop.pop_covenant_info .covenant_tbl .termination_date, .cp_admin_pop.pop_covenant_info .covenant_tbl .revocation_date { color: #242424; }

.cp_admin_pop.pop_covenant_info .covenant_tbl .effective_date .vtc_bar, .cp_admin_pop.pop_covenant_info .covenant_tbl .chg_date .vtc_bar, .cp_admin_pop.pop_covenant_info .covenant_tbl .termination_date .vtc_bar, .cp_admin_pop.pop_covenant_info .covenant_tbl .revocation_date .vtc_bar { color: #1684e5; }

.cp_admin_pop.pop_covenant_info .fee_aflte_info .cont_th, .cp_admin_pop.pop_covenant_info .fee_aflte_info .fee_tp, .cp_admin_pop.pop_covenant_info .fee_aflte_info .aflte_info { padding-top: 20px; }

.cp_admin_pop.pop_covenant_info .stop_dates .cont_th { padding-top: 0; }

.cp_admin_pop.pop_covenant_info .stop_dates .termination_date, .cp_admin_pop.pop_covenant_info .stop_dates .revocation_date { padding-top: 0; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom { margin: 0 59px; border-top: 2px solid #1684e5; border-bottom: 2px solid #1684e5; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .cont_th { width: 143px; padding: 15px 17px 15px 0; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl td:after { content: ''; display: block; width: 1px; height: 15px; position: absolute; right: 0; top: 15px; background: #1684e5; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_name { padding-left: 0; padding-right: 17px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_directnbr { padding-left: 20px; padding-right: 41px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .contract_responsible th, .cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .contract_responsible td { padding-top: 26px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .contract_responsible td:after { top: 26px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_cellnbr { padding-left: 27px; padding-right: 44px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_email { padding-left: 24px; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .responsible_list_tbl .rspsblty_email:after { display: none; }

.cp_admin_pop.pop_affiliate_info .pop_cont_bottom .customer_responsible .cont_th, .cp_admin_pop.pop_affiliate_info .pop_cont_bottom .customer_responsible td { padding-bottom: 22px; }

.pop_affiliate_info { padding-bottom: 50px; }

.pop_affiliate_info .pop_head { padding-bottom: 23px; }

.pop_affiliate_info .affiliate_tbl { width: 100%; }

.pop_affiliate_info .affiliate_tbl .cont_th { width: 143px; padding: 15px 18px 15px 0; font-size: 15px; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_affiliate_info .affiliate_tbl .aflte_number { width: 268px; }

.pop_affiliate_info.pop_calculate_info { padding-bottom: 27px; }

.pop_system_menu .affiliate_tbl .aflte_number { width: auto; }

.pop_system_menu .affiliate_tbl { margin: 0 60px 25px; }

.pop_system_menu .cont_th { padding-right: 16px; font-size: 15px; color: #242424; text-align: right; }

.pop_system_menu td { color: #242424; }

.pop_system_menu .menu_code { color: #757575; }

.pop_system_menu input { width: 251px; }

.pop_system_menu .menu_url input { width: 560px; }

.pop_system_menu .sysmenu_tg_list { background: #fff; font-size: 13px; }

.pop_system_menu .sysmenu_tg_list li { padding: 5px; cursor: pointer; }

.pop_system_menu .sysmenu_tg_list li:hover { background: #ddd; }

.pop_system_menu .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; }

.pop_system_menu .select_toggle_box li.on { background: #1684e5; }

.pop_system_menu .pop_cont_bottom { margin: 0 40px 30px; }

.admin_pop { position: relative; width: 920px; border-radius: 10px; -webkit-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2); background: #fff; }

.admin_pop::after { content: ''; display: block; width: 100px; height: 100px; background: url("../images/bg_triangle.png") no-repeat left top; background-size: 100px 100px; position: absolute; right: 0; bottom: 0; }

.admin_pop .pop_head .btn_close_pop { right: 10px; top: 10px; }

.admin_pop td { padding: 15px 0; font-size: 15px; color: #757575; }

.admin_pop.pop_affiliate_info .pop_cont_top { margin: 0 60px; }

.admin_pop.pop_affiliate_info .pop_cont_middle { margin: 13px 59px 0; padding-bottom: 6px; border-top: 2px solid #1684e5; border-bottom: 2px solid #1684e5; }

.admin_pop.pop_affiliate_info .pop_cont_bottom { margin: 20px 59px 0; padding-bottom: 8px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .cont_th { width: 143px; padding: 15px 17px 15px 0; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl td:after { content: ''; display: block; width: 1px; height: 15px; position: absolute; right: 0; top: 15px; background: #1684e5; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .rspsblty_name { padding-left: 0; padding-right: 17px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .rspsblty_directnbr { padding-left: 20px; padding-right: 41px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .contract_responsible th, .admin_pop.pop_affiliate_info .responsible_list_tbl .contract_responsible td { padding-top: 26px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .contract_responsible td:after { top: 26px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .rspsblty_cellnbr { padding-left: 27px; padding-right: 44px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .rspsblty_email { padding-left: 24px; }

.admin_pop.pop_affiliate_info .responsible_list_tbl .rspsblty_email:after { display: none; }

.admin_pop.pop_affiliate_info .control_cp_tbl .cont_th { width: 151px; padding: 15px 18px 0 0; font-size: 15px; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; }

.admin_pop.pop_affiliate_info .control_cp_tbl .manageer_contact { width: 287px; }

.admin_pop.pop_affiliate_modify:after { display: none; }

.admin_pop.pop_affiliate_modify.sty2:after { display: block; }

.admin_pop.pop_affiliate_modify.sty3 .pop_cont_top { margin: 0 24px; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea { padding: 25px 0 34px; font-size: 15px; }

.admin_pop.pop_affiliate_modify.sty3 .pop_affiliate_modify .tbl td { color: #242424; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea .check_condition { margin-right: 101px; padding-left: 79px; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea .txt { margin-right: 19px; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea span, .admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea .select_box_area { display: inline-block; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea .select_box_area, .admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea input[type="text"] { width: 171px; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea input[type="text"] { margin-right: 63px; border-bottom: 2px solid #1684e6; }

.admin_pop.pop_affiliate_modify.sty3 .wrap_search_accountarea .btn_franchisee { display: inline-block; width: 118px; height: 30px; color: #fff; font-size: 15px; line-height: 30px; text-align: center; background: #ff9e01; }

@media only screen and (min-width: 1340px) and (max-width: 1620px) { .admin_pop.pop_affiliate_modify.sty3 #wrap_admin #header .gnb { margin-left: 30px; } }

@media only screen and (max-width: 1340px) { .admin_pop.pop_affiliate_modify.sty3 #gnb { width: 75%; margin-left: 0  !important; }
  .admin_pop.pop_affiliate_modify.sty3 #gnb .depth1 { width: 20% !important; margin-right: 0 !important; } }

.admin_pop.pop_affiliate_modify .pop_cont_top { margin: 0 59px; padding-top: 17px; }

.admin_pop.pop_affiliate_modify .pop_cont_top .affiliate_tbl .cont_th, .admin_pop.pop_affiliate_modify .pop_cont_top .affiliate_tbl td { padding-top: 0; padding-bottom: 21px; }

.admin_pop.pop_affiliate_modify .cont_th { width: 143px; padding: 0 16px 15px 0; font-size: 15px; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; }

.admin_pop.pop_affiliate_modify .aflte_number { width: 265px; }

.admin_pop.pop_affiliate_modify .pop_cont_middle { margin: 25px 59px 0; }

.admin_pop.pop_affiliate_modify .responsible_list_tbl .rspsblty_name { padding-right: 18px; }

.admin_pop.pop_affiliate_modify .responsible_list_tbl .rspsblty_directnbr { padding-right: 16px; }

.admin_pop.pop_affiliate_modify .responsible_list_tbl .rspsblty_cellnbr { padding-right: 17px; }

.admin_pop.pop_affiliate_modify .responsible_list_tbl .cont_th, .admin_pop.pop_affiliate_modify .responsible_list_tbl td { padding-bottom: 18px; padding-top: 0; }

.admin_pop.pop_affiliate_modify .responsible_list_tbl input { width: 151px; padding-bottom: 7px; border-bottom: 2px solid #1684e5; }

.admin_pop.pop_affiliate_modify .covenant_tbl td { padding-top: 0; padding-bottom: 21px; }

.admin_pop.pop_affiliate_modify .covenant_tbl td input { width: 251px; padding-bottom: 4px; border-bottom: 2px solid #1684e5; }

.admin_pop.pop_affiliate_modify .covenant_tbl .aflte_name { padding-bottom: 18px; }

.admin_pop.pop_affiliate_modify .covenant_tbl .profit_type { padding-bottom: 18px; }

.admin_pop.pop_affiliate_modify .profit_type_area, .admin_pop.pop_affiliate_modify .tax_tp_area, .admin_pop.pop_affiliate_modify .wk_info_area, .admin_pop.pop_affiliate_modify .pay_type_area, .admin_pop.pop_affiliate_modify .middle_pg_area, .admin_pop.pop_affiliate_modify .fee_type_area { position: relative; width: 251px; border-bottom: 2px solid #1684e5; }

.admin_pop.pop_affiliate_modify .profit_type_area:after, .admin_pop.pop_affiliate_modify .tax_tp_area:after, .admin_pop.pop_affiliate_modify .wk_info_area:after, .admin_pop.pop_affiliate_modify .pay_type_area:after, .admin_pop.pop_affiliate_modify .middle_pg_area:after, .admin_pop.pop_affiliate_modify .fee_type_area:after { content: ''; display: block; position: absolute; right: 0; bottom: 9px; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.admin_pop.pop_affiliate_modify .profit_type_area .select_toggle_box, .admin_pop.pop_affiliate_modify .tax_tp_area .select_toggle_box, .admin_pop.pop_affiliate_modify .wk_info_area .select_toggle_box, .admin_pop.pop_affiliate_modify .pay_type_area .select_toggle_box, .admin_pop.pop_affiliate_modify .middle_pg_area .select_toggle_box, .admin_pop.pop_affiliate_modify .fee_type_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.admin_pop.pop_affiliate_modify .profit_type_area .on + .select_toggle_box, .admin_pop.pop_affiliate_modify .tax_tp_area .on + .select_toggle_box, .admin_pop.pop_affiliate_modify .wk_info_area .on + .select_toggle_box, .admin_pop.pop_affiliate_modify .pay_type_area .on + .select_toggle_box, .admin_pop.pop_affiliate_modify .middle_pg_area .on + .select_toggle_box, .admin_pop.pop_affiliate_modify .fee_type_area .on + .select_toggle_box { display: block; }

.admin_pop.pop_affiliate_modify .profit_type_area li, .admin_pop.pop_affiliate_modify .tax_tp_area li, .admin_pop.pop_affiliate_modify .wk_info_area li, .admin_pop.pop_affiliate_modify .pay_type_area li, .admin_pop.pop_affiliate_modify .middle_pg_area li, .admin_pop.pop_affiliate_modify .fee_type_area li { padding: 5px; cursor: pointer; }

.admin_pop.pop_affiliate_modify .profit_type_area li:hover, .admin_pop.pop_affiliate_modify .tax_tp_area li:hover, .admin_pop.pop_affiliate_modify .wk_info_area li:hover, .admin_pop.pop_affiliate_modify .pay_type_area li:hover, .admin_pop.pop_affiliate_modify .middle_pg_area li:hover, .admin_pop.pop_affiliate_modify .fee_type_area li:hover { background: #ddd; color: #242424; }

.admin_pop.pop_affiliate_modify .selected_box { padding-bottom: 9px; }

.admin_pop.pop_affiliate_modify .raw_prft_list, .admin_pop.pop_affiliate_modify .tax_type_list, .admin_pop.pop_affiliate_modify .work_if_list, .admin_pop.pop_affiliate_modify .work_if_list, .admin_pop.pop_affiliate_modify .fee_type_list, .admin_pop.pop_affiliate_modify .middle_pg_list, .admin_pop.pop_affiliate_modify .pay_type_list { background: #fff; }

.admin_pop.pop_affiliate_modify .prft_type, .admin_pop.pop_affiliate_modify .tax_tp_txt { color: #757575; }

.admin_pop.pop_affiliate_modify .affiliate_tbl input { width: 251px; padding: 0 0 4px; border-bottom: 2px solid #1684e5; }

.admin_pop.pop_affiliate_modify .pop_cont_bottom { margin: 0 59px; padding-bottom: 8px; padding-top: 13px; }

.admin_pop.pop_affiliate_modify .pop_cont_bottom td { padding: 0 0 19px; color: #242424; }

.admin_pop.pop_affiliate_modify .pop_cont_bottom .vtc_bar { padding: 0 2px 0 1px; color: #1684e5; }

.admin_pop.pop_affiliate_modify .pop_cont_bottom .effective_date { width: 265px; }

.admin_pop.pop_affiliate_modify .pop_cont_bottom .effective_date.sty2 { width: auto; }

.admin_pop .btn_save { display: block; width: 150px; height: 40px; margin: 20px auto 0; color: #fff; font-size: 18px; text-align: center; line-height: 40px; background: #012875; background: url(../images/bg_btn_blue.svg) no-repeat left top; }

.admin_pop .btn_cnxl { display: block; width: 150px; height: 40px; margin: 0 auto 0; color: #fff; font-size: 18px; text-align: center; line-height: 40px; background: #012875; background: url(../images/bg_btn_gray.svg) no-repeat left top; }

.responsible_list_tbl .cont_th { width: 143px; padding: 15px 17px 15px 0; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; }

.responsible_list_tbl td { position: relative; overflow: hidden; font-size: 15px; color: #757575; }

.control_cp .cont_th { width: 143px; padding: 0 17px 17px 0; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; }

.control_cp td { padding-top: 0; color: #242424; }

.control_cp .vtc_bar { padding: 0 2px 0 1px; color: #1684e5; }

.control_cp .effective_date { width: 265px; }

.fee_percent .cont_th { vertical-align: top; }

.fee_percent .card_company_list { overflow: hidden; }

.fee_percent .card_company_list li { padding-right: 68px; margin-bottom: 30px; float: left; }

.fee_percent .card_company_list li:first-child { padding-right: 76px; }

.fee_percent .card_company_list li:nth-child(5) { padding-right: 0; }

.fee_percent .card_company_list .vam_bar { content: ''; display: inline-block; width: 1px; height: 15px; background: #1684e5; margin: 0 13px; vertical-align: middle; }

.pay_sms .custom_checkbox { padding-left: 30px; height: 18px; line-height: 18px; }

.pay_sms .custom_checkbox .checkmark { top: -5px; left: -5px; }

.wrap_demo { width: 100%; height: 463px; padding-top: 50px; background-color: #eeeeee; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap_demo #contents { width: 1400px; margin: 0 auto; }

.wrap_demo .notice { margin-bottom: 47px; font-size: 20px; color: #fb9e08; text-align: center; }

.wrap_demo .notice .txt { padding-left: 27px; background: url("../images/ico_demo_info.png") no-repeat left center; }

.wrap_demo .list_info { overflow: hidden; width: 652px; height: 192px; margin: 0 auto; }

.wrap_demo .list_info > li { float: left; width: 212px; height: 190px; margin-right: 5px; border: 1px solid #d5d5d5; }

.wrap_demo .list_info > li:last-child { margin-right: 0; }

.wrap_demo .list_info dl { color: #001b32; }

.wrap_demo .list_info dt { padding: 20px 0 20px 35px; border-bottom: 1px solid #d5d5d5; font-size: 16px; }

.wrap_demo .list_info dd { padding: 20px 0 0 37px; }

.wrap_demo .list_info dd ul > li { margin-bottom: 10px; font-size: 14px; }

.wrap_demo .list_info input { width: 140px; height: 25px; margin-top: 5px; border: none; }

.wrap_demo .list_info .demo_payment { padding-right: 21px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap_demo .list_info .txt_demo_payment { margin-left: -21px; }

.wrap_demo .list_info dl { color: #001b32; }

.wrap_demo .list_info dt { padding: 20px 0 20px 35px; border-bottom: 1px solid #d5d5d5; font-size: 16px; background: url("../images/ico_dot_demo.png") no-repeat 19px center; }

.wrap_demo .list_info dd { padding: 20px 0 0 0; }

.wrap_demo .list_info dd ul > li { margin-bottom: 10px; padding-left: 37px; font-size: 14px; background: url("../images/ico_line_demo.png") no-repeat 19px 8px; }

.wrap_demo .btn_payment_demo { display: block; width: 160px; height: 55px; margin: 48px auto 0; color: #fff; font-size: 18px; line-height: 55px; text-align: center; cursor: pointer; background: #012875; }

.cause_memo { display: block; overflow: auto; width: 658px; height: 90px; border: 1px solid #1684e5; resize: none; background: #fff; }

.covenant_modify .pop_cont { padding: 0 59px; }

.covenant_modify .pop_cont .affiliate_tbl .cont_th { width: 140px; }

.covenant_modify .pop_cont .affiliate_tbl .svc_name, .covenant_modify .pop_cont .affiliate_tbl .pay_sms, .covenant_modify .pop_cont .affiliate_tbl .pay_tp { padding-top: 7px; }

.covenant_modify .pop_cont .affiliate_tbl .mdd_pg { padding-top: 3px; }

.covenant_modify .pop_cont .affiliate_tbl .aflte_number { width: 251px; }

.covenant_modify .pop_cont .affiliate_tbl .fee_pct { padding-top: 5px; }

.covenant_modify .pop_cont .affiliate_tbl .fee_percent .cont_th { padding-top: 5px; }

.covenant_modify .pop_cont .affiliate_tbl .fee_aflte_info td { padding-top: 10px; }

.covenant_modify .pop_cont .affiliate_tbl .aflte_info { padding-top: 0; }

.covenant_modify .pop_cont .card_company_list input { width: 41px; text-align: center; }

.covenant_modify .pop_cont .card_company_list .vam_bar { margin: 0 5px 0 13px; }

.covenant_modify .pop_cont .card_company_list li { padding-right: 57px; margin-bottom: 22px; }

.covenant_modify .pop_cont .card_company_list li:first-child { padding-right: 63px; }

.covenant_modify .pop_cont .card_company_list li:nth-child(5) { padding-right: 0; }

.covenant_modify .control_cp_tbl .cont_th { width: 141px; padding-right: 15px; }

.covenant_modify .control_cp_tbl input { width: 251px; padding-bottom: 6px; border-bottom: 2px solid #1684e5; }

.covenant_modify .control_cp_tbl .manageer_contact { width: 261px; }

.pop_calculate_modify { padding-bottom: 0; }

.pop_calculate_modify:after { display: none; }

.pop_calculate_modify .pop_head { padding-bottom: 38px; }

.pop_calculate_modify .affiliate_tbl input { padding-bottom: 8px; border-bottom: 2px solid #1684e5; }

.pop_calculate_modify .affiliate_tbl .cont_th, .pop_calculate_modify .affiliate_tbl .aflte_name, .pop_calculate_modify .affiliate_tbl .aflte_number { padding-top: 0; padding-bottom: 23px; }

.pop_calculate_modify .affiliate_tbl .affiliate_nbr, .pop_calculate_modify .affiliate_tbl .svc_id, .pop_calculate_modify .affiliate_tbl .account_company, .pop_calculate_modify .affiliate_tbl .account_number { padding-top: 0; padding-bottom: 18px; }

.pop_calculate_modify .affiliate_tbl .account_name { padding-top: 0; padding-bottom: 19px; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area { position: relative; width: 251px; padding-bottom: 7px; border-bottom: 2px solid #1684e5; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area:after { content: ''; display: block; position: absolute; right: 0; bottom: 9px; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area .on + .select_toggle_box { display: block; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area li { padding: 5px; cursor: pointer; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area .acnt_company_list { background: #fff; font-size: 13px; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area .acnt_company_list li { padding: 5px; cursor: pointer; }

.pop_calculate_modify .affiliate_tbl .acnt_company_area .acnt_company_list li:hover { background: #ddd; }

.pop_bottom_v1 { overflow: hidden; padding: 14px 293px 21px 290px; background: #e8ebef; }

.pop_bottom_v1 .btn_save { float: left; margin-top: 0; }

.pop_bottom_v1 .btn_cnxl { float: right; }

.pop_system_code { width: 1060px; }

.pop_system_code:after { display: none; }

.pop_system_code .pop_head { padding-bottom: 35px; }

.pop_system_code .pop_cont { padding: 0 35px 28px; }

.pop_system_code .tbl tbody tr { background: transparent; }

.pop_system_code .tbl { table-layout: auto; border-bottom: 0; }

.pop_system_code .tbl th { padding: 0 10px 11px; text-align: left; font-size: 18px; }

.pop_system_code .tbl td { padding: 32px 0 0 0; font-size: 18px; }

.pop_system_code .tbl td input { width: 170px; padding: 0 10px 8px; margin-right: 35px; border-bottom: 1px solid #1684e5; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pop_system_code .pop_bottom_v1 { padding-right: 363px; padding-left: 360px; }

.useable_area { width: 170px; padding: 0 10px 11px; margin-right: 0; border-bottom: 1px solid #1684e5; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; text-align: left; }

.useable_area:after { content: ''; display: block; position: absolute; right: 0; bottom: 11px; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.useable_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.useable_area .on + .select_toggle_box { display: block; }

.useable_area li { padding: 5px; cursor: pointer; }

.useable_area .select_toggle_box { top: 30px; }

.useable_area .useable_list { background: #fff; }

.useable_area .useable_list li { padding: 5px; cursor: pointer; }

.useable_area .useable_list li:hover { background: #ddd; }

.pop_holidays { width: 856px; }

.pop_holidays:after { display: none; }

.pop_holidays .pop_head { padding-bottom: 28px; }

.pop_holidays .wrap_calendar { display: block; padding-bottom: 3px; border-bottom: 1px solid #1684e5; }

.pop_holidays .wrap_calendar input { width: 115px; padding: 7px 10px 6px; font-size: 18px; background: transparent; }

.pop_holidays .wrap_calendar:after { content: " "; display: inline-block; position: relative; width: 25px; height: 28px; margin-left: 7px; vertical-align: top; background: url("../images/ico_calendar2.png") no-repeat left top; }

.pop_holidays .holiday_note { width: 375px; padding: 0 11px 9px; border-bottom: 1px solid #1684e5; font-size: 18px; background: transparent; }

.pop_holidays .tbl { table-layout: auto; }

.pop_holidays .tbl td { padding: 28px 35px 28px 0; font-size: 18px; }

.pop_holidays .tbl td:last-child { padding-right: 0; }

.pop_holidays.admin_pop .pop_cont .tbl tr { background: #fff; }

.pop_holidays.admin_pop .pop_cont .tbl tr th { padding: 0 11px 10px; font-size: 18px; text-align: left; }

.pop_holidays .pop_bottom_v1 { padding: 14px 258px 21px 261px; }

.pop_daesa .pop_head, .pop_calcate_admin .pop_head { padding-top: 15px; padding-bottom: 32px; }

.pop_daesa .pop_cont, .pop_calcate_admin .pop_cont { padding: 0 27px 0 23px; }

.pop_daesa .tbl th, .pop_calcate_admin .tbl th { font-size: 13px; }

.pop_daesa .tbl td, .pop_calcate_admin .tbl td { padding: 23px 0 24px; font-size: 13px; color: #242424; }

.pop_daesa .tbl td .bar, .pop_calcate_admin .tbl td .bar { color: #1684e5; }

.pop_daesa .box_paging, .pop_calcate_admin .box_paging { padding-bottom: 37px; margin-top: 34px; }

.pop_calcate_admin { width: 1180px; }

.select_box_area { position: relative; width: 251px; border-bottom: 2px solid #1684e5; }

.select_box_area .selected_box { padding-bottom: 9px; }

.select_box_area .selected_box .select_box_txt { color: #757575; }

.select_box_area .select_toggle_box { display: none; width: 100%; max-height: 150px; position: absolute; top: 25px; left: 0; border: 1px solid #ddd; border-top: 0; overflow: auto; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.select_box_area .on + .select_toggle_box { display: block; }

.select_box_area:after { content: ''; display: block; width: 0; height: 0; position: absolute; right: 0; bottom: 9px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #1684e5; }

.select_box_area .list_select_option { background: #fff; }

.select_box_area .list_select_option li { padding: 5px; cursor: pointer; }

.select_box_area .list_select_option li:hover { background-color: #f1f1f1; }

.admin_pop.pop_affiliate_modify .affiliate_tbl .inp_search_prev { width: 186px; margin-right: 10px; }

.btn_account_search { display: inline-block; width: 50px; height: 30px; color: #fff; font-size: 13px; line-height: 30px; text-align: center; cursor: pointer; background: #ff9e01; }

.box_creatcount_btn { overflow: hidden; position: relative; z-index: 30; padding: 30px 0; text-align: right; }

.box_creatcount_btn .btn { display: inline-block; width: 118px; height: 30px; margin-right: 20px; color: #fff; font-size: 15px; line-height: 30px; text-align: center; }

.box_creatcount_btn .btn:last-child { margin-right: 0; }

.box_creatcount_btn .btn_select { background: #ff9e01; }

.box_creatcount_btn .btn_close { background: #757575; }
/*# sourceMappingURL=admin.css.map */