@charset "utf-8";
@import 'reset_browser.css';
@import 'font.css';

/* pg이므로 구버전 브라우저를 위한 리셋 */

html { font-size  : 10px !important; font-family: 'notoSans'; font-weight: 300; color: #242424;}

fieldset { border : 0; margin : 0; padding: 0; }
img { width:100%; vertical-align: middle; }

::-moz-selection { background : #b3d4fc; text-shadow: none; }
::selection { background : #b3d4fc; text-shadow: none; }


.chromeframe { margin : 0.2em 0; background: #ccc; color : #000; padding : 0.2em 0; }

.clfix { display: inline-block; }
.clfix { display: block; }
.clfix { zoom: 1; }/* Hides from IE-mac */
.clfix:after { content   : "."; display   : block; height    : 0px; clear     : both; visibility: hidden; }
* html .clfix { height: 1%; }


textarea { resize: vertical; }
textarea,select {font-family: 'Malgun Gothic', "맑은 고딕", AppleGothic, Dotum, "돋움", sans-serif; font-size  : 1em;}

select { margin : 0; height: 30px; margin-right: 3px; border : 1px solid #dcdcdc; line-height : 32px; -webkit-appearance: none; -moz-appearance   : none; }


caption, legend, .blind { position : absolute; width : 1px; height : 1px; padding : 0; margin     : -1px; overflow   : hidden; clip : rect(0, 0, 0, 0); border : 0; *visibility: hidden; }


#skipnavigation a { position: absolute; left : -3000% }
#skipnavigation a:focus { display: inline-block; top : 0; left  : 0; z-index : 9999; width : 20%; height : 30px; background : #000; line-height: 30px; color : #fff; text-align : center }



.btn_close_pop {cursor: pointer;}

/*for IE 5.5-7*/
.tbl {
  width        : 100%;
  border-bottom: 1px solid #e6e6e6;
  table-layout : fixed
}


/* 공통 테이블 */
.tbl th, .tbl td { border-collapse: collapse; text-align     : center; }

.tbl th { padding      : 8px 0; color        : #242424; font-size    : 15px; border-top   : none; border-bottom: 2px solid #0f4c82; }

.tbl td { padding   : 23px 0; border-top: none; font-size : 13px; }

.tbl tbody tr:nth-child(odd) { background: #f3f3f3; }

.tbl tbody tr:nth-child(even) { background: #e8ebef; }

.box_paging .btn_prev, .box_paging .btn_next, .box_paging .paging, .box_paging .paging li { float: left }

.box_paging { width : 225px; margin: 44px auto 0; }
.box_paging .btn_prev, .box_paging .btn_next { width : 17px; height: 17px; } 


.box_paging .btn_prev { background: url('../images/arrow_tbl_prev.png') no-repeat left top; }

.box_paging .btn_next { background: url('../images/arrow_tbl_next.png') no-repeat left top; }

.box_paging .paging { margin-top: -4px; }

.box_paging .paging li:first-child { margin-left: 11px; }
  
.box_paging .paging li:last-child { margin-right: 11px; }
  
.box_paging .paging li a { display: inline-block; width: 20px; height: 24px; margin-right   : 11px; color: #1c1c1c; font-size: 16px; text-decoration: none; line-height: 24px; }

.box_paging .paging li.on a  { color: #fff; width: 34px; height: 24px; border-radius: 12px; background   : #0f4c82; text-align   : center; }
