@font-face {
    font-family: 'notoSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSans-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NotoSans-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'notoSans';
    font-style: normal;
    font-weight: 500;
    src: local('NotoSans-Medium'), local('NotoSans-Medium');
    src: url('../fonts/NotoSans-Medium.eot'), /* IE9 Compat Modes */
    url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSans-Medium.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NotoSans-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'notoSans';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSans-Regular'), local('NotoSans-Regular');
    src: url('../fonts/NotoSans-Regular.eot'), /* IE9 Compat Modes */
    url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSans-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NotoSans-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'notoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSans-Light'), local('NotoSans-Light');
    src: url('../fonts/NotoSans-Light.eot'), /* IE9 Compat Modes */
    url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSans-Light.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NotoSans-Light.otf') format('truetype');
}